<!--Footer starts here-->
<footer id="footer" class="footer primary-dark">
        <div class="container">
          <div class="row three-linklist">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
              Terms of Use Privacy Policy
            </div>
          </div>
        </div>
      </footer>