<div id="search-results" class="search-results primary-light">
    <div class="results-error" *ngIf="executedFilmCall == true || results == undefined || results.length == 0">
        <h3>No {{searchType}} found </h3>
    </div>
    <div class="row results-wrapper">
        <app-film-page class="results-card col-xs-12 col-sm-6 col-xl-4 col-lg-4" *ngFor="let item of results" [record]="item"
            [searchType]="FILM">
        </app-film-page>
    </div>
    </div>
</div>

