.search-results {
    padding: 32px 24px;
    margin-bottom: 50px;
  }
  
  .search-results .icon-search {
    margin: 24px;
    cursor: pointer;
  }
  
  .search-results .icon-search::before {
    padding: 2px;
  }
  
  .search-results .searchbox {
    height: 4rem;
    font-size: 24px;
    color: #000;
  }
  
  .search-results .searchbox::-webkit-input-placeholder {
    color: #b6b3a9;
  }
  
  .search-results .searchbox:-ms-input-placeholder {
    color: #b6b3a9;
  }
  
  .search-results .searchbox::-ms-input-placeholder {
    color: #b6b3a9;
  }
  
  .search-results .searchbox::placeholder {
    color: #b6b3a9;
  }
  
  .search-results .searchbox:focus {
    background: #fff;
    color: #000;
  }
  
  .search-results .searchbox + .icon-search {
    position: absolute;
    right: 13px;
    top: 0;
    margin: 16px;
    color: #000;
  }
  
  .search-results .searchbox ~ .list-container {
    position: relative;
    top: -5px;
    border-top: none;
    height: 240px;
    width: auto;
    background: #fff;
  }
  
  .search-results .searchbox ~ .list-container ul {
    max-height: 240px;
    overflow-y: auto;
  }
  
  .search-results .searchbox ~ .list-container li {
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-indent: 12px;
  }
  
  .search-results .searchbox ~ .list-container li::after {
    height: 49px;
    left: 1%;
  }
  
  .search-results .search-terms {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 56px;
  }
  
  .search-results .search-terms .search-keywords {
    color: #cf4517;
  }
  
  .search-results .result-listing {
    padding: 48px 0;
    border-bottom: 1px solid #d3cfc8;
  }
  
  .search-results .result-listing:last-child {
    border-bottom: 1px solid #3b3935;
  }
  
  .search-results .result-listing .column-item-link {
    font-size: 22px;
    margin-bottom: 16px;
    margin-top: inherit;
    font-weight: normal;
    padding-right: 5px;
    height: auto;
  }
  
  .search-results .result-listing .column-item-link::after {
    position: relative;
    top: 7px;
  }
  
  .search-results .search-pagination {
    display: table;
    margin-top: 24px;
  }
  
  .search-results .search-pagination ul {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 250px;
  }
  
  .search-results .search-pagination ul li {
    display: inline-block;
    margin: 0 21px;
    width: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .search-results .search-pagination .pagination-active {
    border-bottom: 1px solid #cf4517;
  }
  
  .search-results .search-pagination .pagination-next:hover,
  .search-results .search-pagination .pagination-back:hover {
    cursor: pointer;
  }
  
  .search-results .search-pagination .pagination-back {
    /* background: url("../../../assets/images/icons/caret-left.svg") left 0 center no-repeat; */
    height: 32px;
    width: 16px;
    background-size: contain;
    display: table-cell;
  }
  
  .search-results .search-pagination .pagination-next {
    /* background: url("../../../assets/images/icons/caret-right.svg") left 0 center no-repeat; */
    height: 32px;
    width: 16px;
    background-size: contain;
    display: table-cell;
  }
  
  .primary-dark.search-results .list-container {
    color: #000;
  }
  
  .primary-dark.search-results .pagination-next {
    /* background: url("../../../assets/images/icons/caret-right-white.svg") left 0 center no-repeat; */
    height: 32px;
    width: 16px;
    background-size: contain;
    display: table-cell;
  }
  
  .primary-dark.search-results .pagination-back {
    /* background: url("../../../assets/images/icons/caret-left-white.svg") left 0 center no-repeat; */
    height: 32px;
    width: 16px;
    background-size: contain;
    display: table-cell;
  }
  
  [dir="rtl"] .primary-dark .pagination-back {
    /* background: url("../../../assets/images/icons/caret-right-white.svg") left 0 center no-repeat; */
    height: 32px;
    width: 16px;
    background-size: contain;
    display: table-cell;
  }
  
  [dir="rtl"] .primary-dark .pagination-next {
    /* background: url("../../../assets/images/icons/caret-left-white.svg") left 0 center no-repeat; */
    height: 32px;
    width: 16px;
    background-size: contain;
    display: table-cell;
  }
  
  [dir="rtl"] .searchbox + .icon-search {
    left: 13px;
    right: auto;
  }
  
  [dir="rtl"] .search-results .pagination-back {
    /* background: url("../../../assets/images/icons/caret-right.svg") left 0 center no-repeat; */
    height: 32px;
    width: 16px;
    background-size: contain;
    display: table-cell;
  }
  
  [dir="rtl"] .search-results .pagination-next {
    /* background: url("../../../assets/images/icons/caret-left.svg") left 0 center no-repeat; */
    height: 32px;
    width: 16px;
    background-size: contain;
    display: table-cell;
  }
  
  .result-card {
    border: 1px solid #979797;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 16px;
  }
  
  .result-card .heading {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #f3f0ee;
    margin: -8px;
    padding: 8px;
    font-size: 24px;
    height: 44px;
  }
  
  .result-card .heading .title {
      margin-top: -4px;
      padding: 0 16px;
  }
  
  .result-card .heading .favorite {
      text-align: right;
      display: inline-block;
      float: right;
      position: absolute;
      top: 2px;
      right: 32px;
  }
  
  .result-card .summary {
      margin-top: 16px;
  }
  
  .result-card .key_contacts .title {
      font-weight: bold;
      margin: 16px 0;
  }
  
  .prod-owner-info {

  }
  .search-results {
    padding: 32px 24px;
    margin-bottom: 50px;
  }
  
  .search-results .icon-search {
    margin: 24px;
    cursor: pointer;
  }
  
  .search-results .icon-search::before {
    padding: 2px;
  }
  
  .search-results .searchbox {
    height: 4rem;
    font-size: 24px;
    color: #000;
  }
  
  .search-results .searchbox::-webkit-input-placeholder {
    color: #b6b3a9;
  }
  
  .search-results .searchbox:-ms-input-placeholder {
    color: #b6b3a9;
  }
  
  .search-results .searchbox::-ms-input-placeholder {
    color: #b6b3a9;
  }
  
  .search-results .searchbox::placeholder {
    color: #b6b3a9;
  }
  
  .search-results .searchbox:focus {
    background: #fff;
    color: #000;
  }
  
  .search-results .searchbox + .icon-search {
    position: absolute;
    right: 13px;
    top: 0;
    margin: 16px;
    color: #000;
  }
  
  .search-results .searchbox ~ .list-container {
    position: relative;
    top: -5px;
    border-top: none;
    height: 240px;
    width: auto;
    background: #fff;
  }
  
  .search-results .searchbox ~ .list-container ul {
    max-height: 240px;
    overflow-y: auto;
  }
  
  .search-results .searchbox ~ .list-container li {
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-indent: 12px;
  }
  
  .search-results .searchbox ~ .list-container li::after {
    height: 49px;
    left: 1%;
  }
  
  .search-results .search-terms {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 56px;
  }
  
  .search-results .search-terms .search-keywords {
    color: #cf4517;
  }
  
  .search-results .result-listing {
    padding: 48px 0;
    border-bottom: 1px solid #d3cfc8;
  }
  
  .search-results .result-listing:last-child {
    border-bottom: 1px solid #3b3935;
  }
  
  .search-results .result-listing .column-item-link {
    font-size: 22px;
    margin-bottom: 16px;
    margin-top: inherit;
    font-weight: normal;
    padding-right: 5px;
    height: auto;
  }
  
  .search-results .result-listing .column-item-link::after {
    position: relative;
    top: 7px;
  }
  
  .search-results .search-pagination {
    display: table;
    margin-top: 24px;
  }
  
  .search-results .search-pagination ul {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 250px;
  }
  
  .search-results .search-pagination ul li {
    display: inline-block;
    margin: 0 21px;
    width: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .search-results .search-pagination .pagination-active {
    border-bottom: 1px solid #cf4517;
  }
  
  .search-results .search-pagination .pagination-next:hover,
  .search-results .search-pagination .pagination-back:hover {
    cursor: pointer;
  }
  
  .search-results .search-pagination .pagination-back {
    /* background: url("../../../assets/images/icons/caret-left.svg") left 0 center no-repeat; */
    height: 32px;
    width: 16px;
    background-size: contain;
    display: table-cell;
  }
  
  .search-results .search-pagination .pagination-next {
    /* background: url("../../../assets/images/icons/caret-right.svg") left 0 center no-repeat; */
    height: 32px;
    width: 16px;
    background-size: contain;
    display: table-cell;
  }
  
  .primary-dark.search-results .list-container {
    color: #000;
  }
  
  .primary-dark.search-results .pagination-next {
    /* background: url("../../../assets/images/icons/caret-right-white.svg") left 0 center no-repeat; */
    height: 32px;
    width: 16px;
    background-size: contain;
    display: table-cell;
  }
  
  .primary-dark.search-results .pagination-back {
    /* background: url("../../../assets/images/icons/caret-left-white.svg") left 0 center no-repeat; */
    height: 32px;
    width: 16px;
    background-size: contain;
    display: table-cell;
  }
  
  [dir="rtl"] .primary-dark .pagination-back {
    /* background: url("../../../assets/images/icons/caret-right-white.svg") left 0 center no-repeat; */
    height: 32px;
    width: 16px;
    background-size: contain;
    display: table-cell;
  }
  
  [dir="rtl"] .primary-dark .pagination-next {
    /* background: url("../../../assets/images/icons/caret-left-white.svg") left 0 center no-repeat; */
    height: 32px;
    width: 16px;
    background-size: contain;
    display: table-cell;
  }
  
  [dir="rtl"] .searchbox + .icon-search {
    left: 13px;
    right: auto;
  }
  
  [dir="rtl"] .search-results .pagination-back {
    /* background: url("../../../assets/images/icons/caret-right.svg") left 0 center no-repeat; */
    height: 32px;
    width: 16px;
    background-size: contain;
    display: table-cell;
  }
  
  [dir="rtl"] .search-results .pagination-next {
    /* background: url("../../../assets/images/icons/caret-left.svg") left 0 center no-repeat; */
    height: 32px;
    width: 16px;
    background-size: contain;
    display: table-cell;
  }
  
  .result-card {
    border: 1px solid #979797;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 16px;
  }
  
  .result-card .heading {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #f3f0ee;
    margin: -8px;
    padding: 8px;
    font-size: 24px;
    height: 44px;
  }
  
  .result-card .heading .title {
      margin-top: -4px;
      padding: 0 16px;
  }
  
  .result-card .heading .favorite {
      text-align: right;
      display: inline-block;
      float: right;
      position: absolute;
      top: 2px;
      right: 32px;
  }
  
  .result-card .summary {
      margin-top: 16px;
  }
  
  .result-card .key_contacts .title {
      font-weight: bold;
      margin: 16px 0;
  }
  
  .prod-owner-info {
      background-color: #e8e5e1;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      padding: 4px 8px;
      height: 42px;
  }
  
  .prod-owner {
      float: left;
      margin-top: -4px;
  }
  
  .prod-owner img {
      height: 42px;
      margin-left: -32px;
      padding-right: 8px;
  }
  
  .prod-owner-title {
      font-size: 9px;
  }
  
  .prod-owner-contact-icons {
      float: right;
      top: 2px;
      position: absolute;
      right: 26px;
  }
  
  .details {
      text-align: right;
      line-height: 42px;
  }
  
  /*** Details **/
  .detail-card {
    border: 1px solid #979797;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 16px;
  }
  
  .detail-card .heading {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #f3f0ee;
    margin: -8px;
    padding: 8px;
    font-size: 18px;
      font-weight: lighter;
  }
  
  .details-card .heading .title {
      margin-top: -4px;
      padding: 0 16px;
  }
  
  .result-card .heading .favorite {
      text-align: right;
      display: inline-block;
      float: right;
      position: absolute;
      top: 2px;
      right: 32px;
  }
  
  .result-card .summary {
      margin-top: 16px;
  }
  
  .result-card .key_contacts .title {
      font-weight: bold;
      margin: 16px 0;
  }
  
  .prod-owner-info {
      background-color: #e8e5e1;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      padding: 4px 8px;
      height: 42px;
  }
  
  .prod-owner {
      float: left;
      margin-top: -4px;
  }
  
  .prod-owner img {
      height: 42px;
      margin-left: -32px;
      padding-right: 8px;
  }
  
  .prod-owner-title {
      font-size: 9px;
  }
  
  .prod-owner-contact-icons {
      float: right;
      top: 2px;
      position: absolute;
      right: 26px;
  }
  
  .details {
      text-align: right;
      line-height: 42px;
  }
  
  .spacer {
      padding-right: 8px;
  }
  
  .pad {
      margin-top: 8px;
  }
  
  .gap {
      margin-bottom: 16px;
  }
  
  .big-push {
      margin-left: 36px;
  }
  
  .big-push .contact {
      margin-bottom: 16px;
  }
  .search-results{
    min-height: 500px;
  }
  .results-error{
    text-align: center;
    color: #dddddd;
    width: 100%
  }
  .go-back-wrapper{
    text-align: right; 
  }
  .results-wrapper{
    margin: 0% .5%;
  }
  .results-card{
    margin-bottom: 3.5%; 
    
    display: flex;
  }

@media (max-width: 768px)  {
  .results-card{
    margin-bottom: 5%;
  }
}