.search-wrapper .search-container .icon-close {
    padding-left: 0;
  }
  
.search-wrapper input{
    display: block;
    width: 100%;
    height: 48px;
    padding: 14px 14px 14px 48px;
    font-size: 16px;
    line-height: 20px;
    background-image: none;
    background-clip: padding-box;
    border-radius: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-wrapper input:disabled {
    cursor: not-allowed;
  }
  
  .search-wrapper input {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    line-height: 2rem;
    height: 3rem;
    padding: 14px 14px 14px 48px;
    font-size: 1.5rem;
    padding: 24px;
  }
  
  .search-wrapper input:focus {
    color: #000;
    background-color: #f6f3ef;
    border-color: #000;
    outline: none;
  }
    
 
  .search-wrapper input::placeholder {
    color: #777777;
    opacity: 1;
  }
  
  .search-wrapper input:disabled, .search-wrapper input[readonly] {
    background-color: #dedede;
    border: 1px solid #d0d0d0;
    opacity: 1;
  }
  

  .search-wrapper .icon-search {
    margin: 24px;
    cursor: pointer;
  }
