<div id="search" class="search-wrapper primary-dark">
    <div class="row">
        <div class="col-xl-12 search-container">
                <div class="row">
                    <div class="col-sm-3 col-2 col-xs-2" [(ngmodel)] = "searchType">
                        Film
                    </div>
                    <div class="col-sm-9 col-10 col-xs-10 remove-padding">
                        <input type="text" list="suggestion-list" name="searchBox" autocomplete="off" aria-label="false" id="searchBox" [(ngModel)]="query" placeholder="Please Search Film">
                        <span class="icon icon-search"></span>                        
                        <datalist id="suggestion-list" class="search-suggestion" *ngIf="suggestions && suggestions.length > 0">
                            <option *NgFor="let option of suggestions" (click)="searchData(option.second)">
                                <a class="cursor-pointer" (click)="searchData(option.second)">{{option.second}}</a>
                            </option>
                        </datalist>
                    </div>
                </div>
        </div>

    </div>
    
</div>