<div class="col-12 detail">
    <div class="row">
        <div class="col-3 col-sm-3 col-xl-3 person-field-name">
          <span class="bold">Title</span>
        </div>
        <div class="bold col-1">:</div>
        <div class="col-7 col-sm-7 col-xl-7">
          <span>{{record.title}}</span>
        </div>
      </div>

      <div class="row">
          <div class="col-3 col-sm-3 col-xl-3 person-field-name">
            <span class="bold">Episode ID</span>
          </div>
          <div class="bold col-1">:</div>
          <div class="col-7 col-sm-7 col-xl-7">
            <span>{{record.episodeId}}</span>
          </div>
        </div>

        <div class="row">
            <div class="col-3 col-sm-3 col-xl-3 person-field-name">
              <span class="bold">Opening Crwal</span>
            </div>
            <div class="bold col-1">:</div>
            <div class="col-7 col-sm-7 col-xl-7">
              <span>{{record.openingCrawl}}</span>
            </div>
          </div>

          <div class="row">
              <div class="col-3 col-sm-3 col-xl-3 person-field-name">
                <span class="bold">Director</span>
              </div>
              <div class="bold col-1">:</div>
              <div class="col-7 col-sm-7 col-xl-7">
                <span>{{record.director}}</span>
              </div>
            </div>

            <div class="row">
                <div class="col-3 col-sm-3 col-xl-3 person-field-name">
                  <span class="bold">Producer</span>
                </div>
                <div class="bold col-1">:</div>
                <div class="col-7 col-sm-7 col-xl-7">
                  <span>{{record.producer}}</span>
                </div>
              </div>

              <div class="row">
                  <div class="col-3 col-sm-3 col-xl-3 person-field-name">
                    <span class="bold">Release Date</span>
                  </div>
                  <div class="bold col-1">:</div>
                  <div class="col-7 col-sm-7 col-xl-7">
                    <span>{{record.releaseDate | date:'fullDate'}}</span>
                  </div>
                </div>
</div>